<h1>Products#index</h1>

<%= form_tag(products_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
<%= submit_tag "Search" %>
<% end %>

<%= paginate @products %>
<% if @products.present? %>
  <% @products.each do | prod | %>
    <p>Name: <%= prod.name %> Description: <%= prod.description %> </p>
    <p><%= link_to 'Details', product_path(prod) %></p>
  <% end %>
<% else %>
  <p>There are no products containing the term(s) <%= params[:search] %></p>
<% end %>
